# {{ ansible_managed }}

{{ item.path }} {
    {{ item.interval|default(logrotate_interval) }}
    size {{ item.max_size|default(logrotate_max_size) }}
    rotate {{ item.max_files|default(logrotate_max_files) }}
    compress
    delaycompress
    missingok
    notifempty
    copytruncate
}
